#.gitignore file
Builds/
Library/
GoogleVRForUnity.unitypackage
.DS_Store
Library/AssetImportState
Library/AssetServerCacheV3
Library/FailedAssetImports.txt
Library/ScriptAssemblies
Library/ScriptMapper
Library/assetDatabast3
Library/cache
Library/expandedItems
Library/metadata
Library/previews
Library/guidemapper
Temp
*.csproj
*.pidb
*.userspref
